# ENCODING PROBLEMS

In [2]:
import pandas as pd

In [3]:
universidades = pd.read_csv('../data/universidades.csv', encoding = "UTF8")

In [4]:
universidades.head()

,idUniversidad,nombre,sede,comunidadAutonoma,fundacion,tipo
0,0,Universidad de Sevilla,Sevilla,Andalucía,1505,Pública
1,1,Universidad de Granada,Granada,Andalucía,1531,Pública
2,2,Universidad de Córdoba,Córdoba,Andalucía,1972,Pública
3,3,Universidad de Málaga,Málaga,Andalucía,1972,Pública
4,4,Universidad de Cádiz,Cádiz,Andalucía,1979,Pública

In [5]:
universidades.to_csv('../data/encoding/universidadesCopy.csv', sep = ',', index = False, encoding = 'ISO-8859-1')

In [6]:
Categorias = pd.read_csv('../data/Categorias.csv', encoding = "UTF8")

In [7]:
Categorias.head()

   idCategoria       nombre
0            0    Lifestyle
1            1       Campus
2            2       Fiesta
3            3  Aprendizaje
4            4       Quejas

In [8]:
Categorias.to_csv('../data/encoding/CategoriasCopy.csv', sep = ',', index = False, encoding = 'ISO-8859-1')

In [33]:
CategoriasEventos = pd.read_csv('../data/CategoriasEventos.csv', encoding = "UTF8")

In [34]:
CategoriasEventos.head()

   idEvento  idCategoria
0       360           14
1       418            1
2       175            3
3       126            2
4       265            1

In [35]:
CategoriasEventos.to_csv('../data/encoding/CategoriasEventosCopy.csv', sep = ',', index = False, encoding = 'ISO-8859-1')

In [36]:
CategoriasPropuestas = pd.read_csv('../data/CategoriasPropuestas.csv', encoding = "UTF8")

In [37]:
CategoriasPropuestas.head()

   idPropuesta  idCategoria
0         1088           17
1         1077           12
2          162            7
3           29            2
4          309            1

In [38]:
CategoriasPropuestas.to_csv('../data/encoding/CategoriasPropuestasCopy.csv', sep = ',', index = False, encoding = 'ISO-8859-1')

In [21]:
Eventos = pd.read_csv('../data/Eventos.csv', encoding = "UTF8")

In [22]:
Eventos.head()

,idEvento,nombre,descripcion,fechaEvento,fechaCreacion,idCreador
0,0,Cumpleaños de Anselmo Batlle Muñoz,NaN,05-05-2023,NaN,6267
1,1,Poniencia de Macario Leal-Solís,NaN,13-08-2021,NaN,11468
2,2,Cumpleaños de Juan Luis Carreño Pellicer,NaN,28-04-2022,NaN,36
3,3,Despedida de Candelas Flores-Pinilla,NaN,21-10-2022,NaN,1363
4,4,Jubilación de Quirino Llano-Navarro,NaN,09-11-2021,NaN,10460

In [23]:
Eventos.to_csv('../data/encoding/EventosCopy.csv', sep = ',', index = False, encoding = 'ISO-8859-1')

In [39]:
ParticipantesEventos = pd.read_csv('../data/ParticipantesEventos.csv', encoding = "UTF8")

In [40]:
ParticipantesEventos.head()

   idUsuario  idEvento
0       2856        98
1       5990        35
2       2517       111
3       9072       222
4       9327       374

In [41]:
ParticipantesEventos.to_csv('../data/encoding/ParticipantesEventosCopy.csv', sep = ',', index = False, encoding = 'ISO-8859-1')

In [42]:
ParticipantesPropuestas = pd.read_csv('../data/ParticipantesPropuestas.csv', encoding = "UTF8")

In [43]:
ParticipantesPropuestas.head()

   idUsuario  idPropuesta
0       2616          883
1       5796          637
2       7887          559
3      10059           59
4       8906           79

In [44]:
ParticipantesPropuestas.to_csv('../data/encoding/ParticipantesPropuestasCopy.csv', sep = ',', index = False, encoding = 'ISO-8859-1')

In [30]:
Usuarios = pd.read_csv('../data/Usuarios.csv', encoding = "UTF8")

In [31]:
Usuarios.head()

,idUsuario,nombre,username,idUniversidad,facultad,curso,clase,edad
0,0,Bernarda Jimenez-Manjón,['mereLemur3'],83,Arquitectura,5,D,24
1,1,Pilar Gallardo Flores,['pitifulAntelope2'],79,Comunicación,3,C,38
2,2,Cesar Salmerón Goñi,['cautiousGelding9'],6,Educación Física,2,D,34
3,3,Rosalina Nogueira-Corral,['culturedQuiche3'],51,Medicina,3,D,40
4,4,Pilar Mayol Artigas,['alertSeagull3'],76,Ciencias de la Salud,6,A,29

In [32]:
Usuarios.to_csv('../data/encoding/UsuariosCopy.csv', sep = ',', index = False, encoding = 'ISO-8859-1')

In [45]:
Propuestas = pd.read_csv('../data/Propuestas.csv', encoding = "UTF8")

In [46]:
Propuestas.head()

,idPropuesta,nombre,descripcion,fechaCreacion,idCreador
0,0,Denunciar a María Manuela Flores Capdevila,NaN,NaN,1343
1,1,Hablar con Jose Guillen-Vaquero,NaN,NaN,7521
2,2,Quitar el busto de Telmo Cabello Mir,NaN,NaN,7471
3,3,Quitar el busto de Renata Juan Infante,NaN,NaN,2214
4,4,Quitar el busto de Vinicio Cornejo Carreras,NaN,NaN,3778

In [47]:
Propuestas.to_csv('../data/encoding/PropuestasCopy.csv', sep = ',', index = False, encoding = 'ISO-8859-1')