# EXTRACCIÓN DE DATOS

### UNIVERSIDADES

In [1]:
# %pip install requests

import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
wikiurl = "https://es.wikipedia.org/wiki/Anexo:Universidades_de_Espa%C3%B1a"
table_class = "wikitable sortable jquery-tablesorter"
response = requests.get(wikiurl)
response.status_code

200

In [3]:
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find('table',{'class':"wikitable"})

In [4]:
universidades = pd.read_html(str(table))
universidades = pd.DataFrame(universidades[0])

In [5]:
universidades['idUniversidad'] = universidades.index

In [6]:
universidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Universidad         92 non-null     object
 1   Sede principal      92 non-null     object
 2   Comunidad autónoma  92 non-null     object
 3   Fundación           92 non-null     int64
 4   Tipo                92 non-null     object
 5   idUniversidad       92 non-null     int64
dtypes: int64(2), object(4)
memory usage: 4.4+ KB

In [7]:
universidades['nombre'] = universidades['Universidad']
universidades['sede'] = universidades['Sede principal']
universidades['comunidadAutonoma'] = universidades['Comunidad autónoma']
universidades['fundacion'] = universidades['Fundación']
universidades['tipo'] = universidades['Tipo']

In [8]:
universidades = universidades.drop(['Universidad'], axis = 1)
universidades = universidades.drop(['Sede principal'], axis = 1)
universidades = universidades.drop(['Comunidad autónoma'], axis = 1)
universidades = universidades.drop(['Fundación'], axis = 1)
universidades = universidades.drop(['Tipo'], axis = 1)

In [9]:
universidades['tipo'].unique()

array(['Pública', 'Privada, Católica', 'Privada, no presencial',
       'Privada', 'Privada, Católica[2]\u200b', 'Pública, no presencial',
       'Privada, eclesiástica'], dtype=object)

In [10]:
for e in universidades['tipo']:
    if 'Pública' in e:
        universidades.tipo = universidades.tipo.replace(e, 'Pública')
    elif 'Privada' in e:
        universidades.tipo = universidades.tipo.replace(e, 'Privada')

In [11]:
universidades['tipo'].unique()

array(['Pública', 'Privada'], dtype=object)

In [12]:
universidades.tail(10)

,idUniversidad,nombre,sede,comunidadAutonoma,fundacion,tipo
82,82,"Universidad de Diseño, Innovación y Tecnología",Madrid,Comunidad de Madrid,2022,Privada
83,83,Universidad de Murcia,Murcia,Región de Murcia,1914,Pública
84,84,Universidad Católica San Antonio,Guadalupe - Murcia,Región de Murcia,1996,Privada
85,85,Universidad Politécnica de Cartagena,Cartagena,Región de Murcia,1998,Pública
86,86,Universidad de Navarra,Pamplona,Navarra,1952,Privada
87,87,Universidad Pública de Navarra,Pamplona,Navarra,1987,Pública
88,88,Universidad de Deusto,Bilbao,País Vasco,1886,Privada
89,89,Universidad del País Vasco,Lejona,País Vasco,1980,Pública
90,90,Universidad de Mondragón,Mondragón,País Vasco,1997,Privada
91,91,European University Vitoria-Gasteiz,Vitoria,País Vasco,2023,Privada

In [14]:
universidades.to_csv('../data/Universidades.csv', sep = ',', index = False)