In [5]:
!pip install requests
import pandas as pd
import requests
from bs4 import BeautifulSoup

Requirement already satisfied: requests in c:\users\carlos\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\carlos\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\carlos\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\carlos\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\carlos\anaconda3\lib\site-packages (from requests) (2.0.4)

In [6]:
# get the response in the form of html
wikiurl="https://es.wikipedia.org/wiki/Anexo:Universidades_de_Espa%C3%B1a"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [7]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

In [8]:
df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

              Universidad Sede principal Comunidad autónoma  Fundación  \
0  Universidad de Sevilla        Sevilla          Andalucía       1505
1  Universidad de Granada        Granada          Andalucía       1531
2  Universidad de Córdoba        Córdoba          Andalucía       1972
3   Universidad de Málaga         Málaga          Andalucía       1972
4    Universidad de Cádiz          Cádiz          Andalucía       1979

      Tipo
0  Pública
1  Pública
2  Pública
3  Pública
4  Pública

In [11]:
df.head()

,Universidad,Sede principal,Comunidad autónoma,Fundación,Tipo
0,Universidad de Sevilla,Sevilla,Andalucía,1505,Pública
1,Universidad de Granada,Granada,Andalucía,1531,Pública
2,Universidad de Córdoba,Córdoba,Andalucía,1972,Pública
3,Universidad de Málaga,Málaga,Andalucía,1972,Pública
4,Universidad de Cádiz,Cádiz,Andalucía,1979,Pública

In [10]:
df.to_csv('Universidades.csv')