# EXTRACCIÓN DE DATOS

### USUARIOS

In [4]:
# %pip install faker
# %pip install random-username

import datetime
import pandas as pd

from faker import Faker

import random
from random_username.generate import generate_username

random.seed(42)
Faker.seed(42)

fake = Faker('es_ES')

In [7]:
faker = Faker()

listFacultad = ['Agronomía','Arquitectura','Comunicación','Ciencias de la Educación','Ciencias Económicas',
                'Ciencias Exactas','Ciencias Físicas y Matemáticas','Química','Ciencias Sociales','Derecho',
                'Educación Física','Filosofía','Humanidades','Información','Ingeniería','Matemática','Medicina',
                'Ciencias de la Salud','Odontología','Psicología','Veterinaria','Diseño']
listClase = ['A','B','C','D']

nombre = []
usuario  = []
idUniversidad = []
facultad = []
curso  =  []
clase = []
edad = []

for i in range(12000):
    nombre.append(fake.name())
    usuario.append(generate_username())
    idUniversidad.append(random.randint(0, 91))
    facultad.append(random.choice(listFacultad))
    curso.append(random.randint(1, 6))
    clase.append(random.choice(listClase))
    edad.append(random.randint(16, 50))

In [8]:
Usuarios = pd.DataFrame()

In [9]:
Usuarios['idUsuario'] = None
Usuarios['nombre'] = nombre
Usuarios['username'] = usuario
Usuarios['idUniversidad'] = idUniversidad
Usuarios['facultad'] = facultad
Usuarios['curso'] = curso
Usuarios['clase'] = clase
Usuarios['edad'] = edad

In [12]:
Usuarios['idUsuario'] = Usuarios.index

In [13]:
Usuarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   idUsuario      12000 non-null  int64
 1   nombre         12000 non-null  object
 2   username       12000 non-null  object
 3   idUniversidad  12000 non-null  int64
 4   facultad       12000 non-null  object
 5   curso          12000 non-null  int64
 6   clase          12000 non-null  object
 7   edad           12000 non-null  int64
dtypes: int64(4), object(4)
memory usage: 750.1+ KB

In [16]:
Usuarios.head()

,idUsuario,nombre,username,idUniversidad,facultad,curso,clase,edad
0,0,Bernarda Jimenez-Manjón,[mereLemur3],83,Arquitectura,5,D,24
1,1,Pilar Gallardo Flores,[pitifulAntelope2],79,Comunicación,3,C,38
2,2,Cesar Salmerón Goñi,[cautiousGelding9],6,Educación Física,2,D,34
3,3,Rosalina Nogueira-Corral,[culturedQuiche3],51,Medicina,3,D,40
4,4,Pilar Mayol Artigas,[alertSeagull3],76,Ciencias de la Salud,6,A,29

In [17]:
Usuarios.to_csv('../data/Usuarios.csv', sep = ',', index = False)

### CATEGORÍAS PROPUESTAS

In [62]:
idcategoria = []
idpropuesta = []

for i in range(8200):
    idcategoria.append(random.randint(0, 19))
    idpropuesta.append(random.randint(0, 1199))

In [63]:
CategoriasPropuestas = pd.DataFrame()

In [64]:
CategoriasPropuestas['idPropuesta'] = idpropuesta
CategoriasPropuestas['idCategoria'] = idcategoria

In [65]:
CategoriasPropuestas.head()

   idPropuesta  idCategoria
0         1088           17
1         1077           12
2          162            7
3           29            2
4          309            1

In [66]:
CategoriasPropuestas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8200 entries, 0 to 8199
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idPropuesta  8200 non-null   int64
 1   idCategoria  8200 non-null   int64
dtypes: int64(2)
memory usage: 128.2 KB

In [67]:
print(CategoriasPropuestas.groupby('idPropuesta').nunique())

             idCategoria
idPropuesta
0                      5
1                      6
2                      8
3                      7
4                      5
...                  ...
1195                   5
1196                   9
1197                   3
1198                   6
1199                   6

[1200 rows x 1 columns]

In [69]:
CategoriasPropuestas.to_csv('../data/CategoriasPropuestas.csv', sep = ',', index = False)

### CATEGORÍAS EVENTOS

In [106]:
idcategoria = []
idevento = []

for i in range(3750):
    idcategoria.append(random.randint(0, 19))
    idevento.append(random.randint(0, 599))

In [107]:
CategoriasEventos = pd.DataFrame()

In [108]:
CategoriasEventos['idEvento'] = idevento
CategoriasEventos['idCategoria'] = idcategoria

In [109]:
CategoriasEventos.head()

   idEvento  idCategoria
0       360           14
1       418            1
2       175            3
3       126            2
4       265            1

In [110]:
CategoriasEventos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3750 entries, 0 to 3749
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idEvento     3750 non-null   int64
 1   idCategoria  3750 non-null   int64
dtypes: int64(2)
memory usage: 58.7 KB

In [111]:
print(CategoriasEventos.groupby('idEvento').nunique())

          idCategoria
idEvento
0                   9
1                   8
2                   9
3                   6
4                   4
...               ...
595                 6
596                 5
597                 6
598                 8
599                 4

[600 rows x 1 columns]

In [112]:
CategoriasEventos.to_csv('../data/CategoriasEventos.csv', sep = ',', index = False)

### PARTICIPANTES PROPUESTAS

In [143]:
idusuario = []
idpropuesta = []

for i in range(25000):
    idusuario.append(random.randint(0, 11999))
    idpropuesta.append(random.randint(0, 1199))

In [144]:
ParticipantesPropuestas = pd.DataFrame()

In [145]:
ParticipantesPropuestas['idUsuario'] = idusuario
ParticipantesPropuestas['idPropuesta'] = idpropuesta

In [146]:
ParticipantesPropuestas.head()

   idUsuario  idPropuesta
0       2616          883
1       5796          637
2       7887          559
3      10059           59
4       8906           79

In [147]:
ParticipantesPropuestas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idUsuario    25000 non-null  int64
 1   idPropuesta  25000 non-null  int64
dtypes: int64(2)
memory usage: 390.8 KB

In [148]:
print(ParticipantesPropuestas.groupby('idPropuesta').nunique())

             idUsuario
idPropuesta
0                   23
1                   15
2                   24
3                   19
4                   18
...                ...
1195                24
1196                20
1197                12
1198                30
1199                14

[1200 rows x 1 columns]

In [149]:
ParticipantesPropuestas.to_csv('../data/ParticipantesPropuestas.csv', sep = ',', index = False)

### PARTICIPANTES EVENTOS

In [150]:
idusuario = []
idevento = []

for i in range(17000):
    idusuario.append(random.randint(0, 11999))
    idevento.append(random.randint(0, 599))

In [151]:
ParticipantesEventos = pd.DataFrame()

In [152]:
ParticipantesEventos['idUsuario'] = idusuario
ParticipantesEventos['idEvento'] = idevento

In [153]:
ParticipantesEventos.head()

   idUsuario  idEvento
0       2856        98
1       5990        35
2       2517       111
3       9072       222
4       9327       374

In [154]:
ParticipantesEventos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   idUsuario  17000 non-null  int64
 1   idEvento   17000 non-null  int64
dtypes: int64(2)
memory usage: 265.8 KB

In [155]:
print(ParticipantesEventos.groupby('idEvento').nunique())

          idUsuario
idEvento
0                32
1                30
2                29
3                32
4                36
...             ...
595              23
596              39
597              20
598              24
599              23

[600 rows x 1 columns]

In [156]:
ParticipantesEventos.to_csv('../data/ParticipantesEventos.csv', sep = ',', index = False)

### EVENTOS

In [162]:
universidades = pd.read_csv('../data/Universidades.csv')

In [164]:
universidades = universidades['nombre']
universidades.head()

0    Universidad de Sevilla
1    Universidad de Granada
2    Universidad de Córdoba
3     Universidad de Málaga
4      Universidad de Cádiz
Name: nombre, dtype: object

In [168]:
universidades = universidades.values.astype(str).tolist()

In [170]:
type(universidades)

list

In [214]:
listUsuarios1 = ['Fiesta sorpresa de ','Fiesta en casa de ','Poniencia de ', 'Cumpleaños de ', 'Jubilación de ', 'Despedida de ']
listUsuarios2 = ['Talk and pizzas en ','Expo en ','Botellón de ', 'Firma de libros en ', 'Primer día clases ']
listUsuarios3 = ['Exposición de la facultad ','Certamen de la facultad ', 'Graduación de ']
listUsuarios4 = ['Quedada de ', 'Reunión director ', 'Sentada ', 'TedTalk ', 'Bienvenida nuevos alumnos ']

contador = 0;

idEvento = []
nombreEvento  = []
dateEvento = []
idCreador  =  []

for i in range(200):  
    idEvento.append(contador)
    nombreEvento.append(random.choice(listUsuarios1) + fake.name())
    dateEvento.append(fake.date_between(start_date='-1y',end_date='+1y').strftime('%d-%m-%Y'))
    idCreador.append(random.randint(0, 11999))
    contador += 1
    
for i in range(150):
    idEvento.append(contador)
    nombreEvento.append(random.choice(listUsuarios2) + str(random.choice(universidades)))
    dateEvento.append(fake.date_between(start_date='-1y',end_date='+1y').strftime('%d-%m-%Y'))
    idCreador.append(random.randint(0, 11999))
    contador += 1
    
for i in range(100):
    idEvento.append(contador)
    nombreEvento.append(random.choice(listUsuarios3) + random.choice(listFacultad))
    dateEvento.append(fake.date_between(start_date='-1y',end_date='+1y').strftime('%d-%m-%Y'))
    idCreador.append(random.randint(0, 11999))
    contador += 1
    
for i in range(150):
    idEvento.append(contador)
    nombreEvento.append(random.choice(listUsuarios4) + random.choice(listFacultad) + ' ' + str(random.choice(universidades)))
    dateEvento.append(fake.date_between(start_date='-1y',end_date='+1y').strftime('%d-%m-%Y'))
    idCreador.append(random.randint(0, 11999))
    contador += 1

In [215]:
Eventos = pd.DataFrame()

In [216]:
Eventos['idEvento'] = idEvento
Eventos['nombre'] = nombreEvento
Eventos['descripcion'] = None
Eventos['fechaEvento'] = dateEvento
Eventos['fechaCreacion'] = None
Eventos['idCreador'] = idCreador

In [218]:
Eventos.tail()

,idEvento,nombre,descripcion,fechaEvento,fechaCreacion,idCreador
595,595,TedTalk Ciencias de la Salud Universidad Autón...,None,20-08-2021,None,6752
596,596,TedTalk Educación Física Universidad de Granada,None,09-10-2021,None,4384
597,597,Bienvenida nuevos alumnos Ciencias Físicas y M...,None,03-02-2023,None,8179
598,598,Reunión director Arquitectura Universidad Inte...,None,24-01-2022,None,7191
599,599,TedTalk Matemática CUNEF Universidad,None,03-04-2023,None,6803

In [219]:
Eventos.to_csv('../data/Eventos.csv', sep = ',', index = False)

### PROPUESTAS