# EXTRACCIÓN DE DATOS

### USUARIOS

In [4]:
# %pip install faker
# %pip install random-username

import datetime
import pandas as pd

from faker import Faker

import random
from random_username.generate import generate_username

random.seed(42)
Faker.seed(42)

fake = Faker('es_ES')

In [7]:
faker = Faker()

listFacultad = ['Agronomía','Arquitectura','Comunicación','Ciencias de la Educación','Ciencias Económicas',
                'Ciencias Exactas','Ciencias Físicas y Matemáticas','Química','Ciencias Sociales','Derecho',
                'Educación Física','Filosofía','Humanidades','Información','Ingeniería','Matemática','Medicina',
                'Ciencias de la Salud','Odontología','Psicología','Veterinaria','Diseño']
listClase = ['A','B','C','D']

nombre = []
usuario  = []
idUniversidad = []
facultad = []
curso  =  []
clase = []
edad = []

for i in range(12000):
    nombre.append(fake.name())
    usuario.append(generate_username())
    idUniversidad.append(random.randint(0, 91))
    facultad.append(random.choice(listFacultad))
    curso.append(random.randint(1, 6))
    clase.append(random.choice(listClase))
    edad.append(random.randint(16, 50))

In [8]:
Usuarios = pd.DataFrame()

In [9]:
Usuarios['idUsuario'] = None
Usuarios['nombre'] = nombre
Usuarios['username'] = usuario
Usuarios['idUniversidad'] = idUniversidad
Usuarios['facultad'] = facultad
Usuarios['curso'] = curso
Usuarios['clase'] = clase
Usuarios['edad'] = edad

In [12]:
Usuarios['idUsuario'] = Usuarios.index

In [13]:
Usuarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   idUsuario      12000 non-null  int64
 1   nombre         12000 non-null  object
 2   username       12000 non-null  object
 3   idUniversidad  12000 non-null  int64
 4   facultad       12000 non-null  object
 5   curso          12000 non-null  int64
 6   clase          12000 non-null  object
 7   edad           12000 non-null  int64
dtypes: int64(4), object(4)
memory usage: 750.1+ KB

In [16]:
Usuarios.head()

,idUsuario,nombre,username,idUniversidad,facultad,curso,clase,edad
0,0,Bernarda Jimenez-Manjón,[mereLemur3],83,Arquitectura,5,D,24
1,1,Pilar Gallardo Flores,[pitifulAntelope2],79,Comunicación,3,C,38
2,2,Cesar Salmerón Goñi,[cautiousGelding9],6,Educación Física,2,D,34
3,3,Rosalina Nogueira-Corral,[culturedQuiche3],51,Medicina,3,D,40
4,4,Pilar Mayol Artigas,[alertSeagull3],76,Ciencias de la Salud,6,A,29

In [17]:
Usuarios.to_csv('../data/Usuarios.csv', sep = ',', index = False)

### CATEGORÍAS PROPUESTAS

In [62]:
idcategoria = []
idpropuesta = []

for i in range(8200):
    idcategoria.append(random.randint(0, 19))
    idpropuesta.append(random.randint(0, 1199))

In [63]:
CategoriasPropuestas = pd.DataFrame()

In [64]:
CategoriasPropuestas['idPropuesta'] = idpropuesta
CategoriasPropuestas['idCategoria'] = idcategoria

In [65]:
CategoriasPropuestas.head()

   idPropuesta  idCategoria
0         1088           17
1         1077           12
2          162            7
3           29            2
4          309            1

In [66]:
CategoriasPropuestas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8200 entries, 0 to 8199
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idPropuesta  8200 non-null   int64
 1   idCategoria  8200 non-null   int64
dtypes: int64(2)
memory usage: 128.2 KB

In [312]:
CategoriasPropuestas = CategoriasPropuestas.drop_duplicates()

In [313]:
CategoriasPropuestas

      idPropuesta  idCategoria
0            1088           17
1            1077           12
2             162            7
3              29            2
4             309            1
...           ...          ...
8194          874            8
8196          439            9
8197          577           10
8198          455            2
8199          732           13

[6926 rows x 2 columns]

In [314]:
print(CategoriasPropuestas.groupby('idPropuesta').nunique())

             idCategoria
idPropuesta
0                      5
1                      6
2                      8
3                      7
4                      5
...                  ...
1195                   5
1196                   9
1197                   3
1198                   6
1199                   6

[1200 rows x 1 columns]

In [315]:
CategoriasPropuestas.to_csv('../data/CategoriasPropuestas.csv', sep = ',', index = False)

### CATEGORÍAS EVENTOS

In [298]:
idcategoria = []
idevento = []

for i in range(3750):
    idcategoria.append(random.randint(0, 19))
    idevento.append(random.randint(0, 599))

In [299]:
CategoriasEventos = pd.DataFrame()

In [300]:
CategoriasEventos['idEvento'] = idevento
CategoriasEventos['idCategoria'] = idcategoria

In [301]:
CategoriasEventos.head()

   idEvento  idCategoria
0       562           12
1       219           19
2       357           18
3       235           11
4       349           14

In [302]:
CategoriasEventos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3750 entries, 0 to 3749
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idEvento     3750 non-null   int64
 1   idCategoria  3750 non-null   int64
dtypes: int64(2)
memory usage: 58.7 KB

In [308]:
CategoriasEventos = CategoriasEventos.drop_duplicates()

In [309]:
CategoriasEventos

      idEvento  idCategoria
0          562           12
1          219           19
2          357           18
3          235           11
4          349           14
...        ...          ...
3744       409           14
3746       322            3
3747       578           11
3748       470           15
3749       300            4

[3201 rows x 2 columns]

In [310]:
print(CategoriasEventos.groupby('idEvento').nunique())

          idCategoria
idEvento
0                   5
1                   2
2                   3
3                   3
4                   4
...               ...
595                 5
596                 3
597                 5
598                 5
599                 6

[600 rows x 1 columns]

In [311]:
CategoriasEventos.to_csv('../data/CategoriasEventos.csv', sep = ',', index = False)

### PARTICIPANTES PROPUESTAS

In [143]:
idusuario = []
idpropuesta = []

for i in range(25000):
    idusuario.append(random.randint(0, 11999))
    idpropuesta.append(random.randint(0, 1199))

In [144]:
ParticipantesPropuestas = pd.DataFrame()

In [145]:
ParticipantesPropuestas['idUsuario'] = idusuario
ParticipantesPropuestas['idPropuesta'] = idpropuesta

In [146]:
ParticipantesPropuestas.head()

   idUsuario  idPropuesta
0       2616          883
1       5796          637
2       7887          559
3      10059           59
4       8906           79

In [147]:
ParticipantesPropuestas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idUsuario    25000 non-null  int64
 1   idPropuesta  25000 non-null  int64
dtypes: int64(2)
memory usage: 390.8 KB

In [316]:
ParticipantesPropuestas = ParticipantesPropuestas.drop_duplicates()

In [317]:
ParticipantesPropuestas

       idUsuario  idPropuesta
0           2616          883
1           5796          637
2           7887          559
3          10059           59
4           8906           79
...          ...          ...
24995        771          676
24996      11972           84
24997       6738          865
24998       9028         1169
24999       8919          881

[24979 rows x 2 columns]

In [318]:
print(ParticipantesPropuestas.groupby('idPropuesta').nunique())

             idUsuario
idPropuesta
0                   23
1                   15
2                   24
3                   19
4                   18
...                ...
1195                24
1196                20
1197                12
1198                30
1199                14

[1200 rows x 1 columns]

In [319]:
ParticipantesPropuestas.to_csv('../data/ParticipantesPropuestas.csv', sep = ',', index = False)

### PARTICIPANTES EVENTOS

In [150]:
idusuario = []
idevento = []

for i in range(17000):
    idusuario.append(random.randint(0, 11999))
    idevento.append(random.randint(0, 599))

In [151]:
ParticipantesEventos = pd.DataFrame()

In [152]:
ParticipantesEventos['idUsuario'] = idusuario
ParticipantesEventos['idEvento'] = idevento

In [153]:
ParticipantesEventos.head()

   idUsuario  idEvento
0       2856        98
1       5990        35
2       2517       111
3       9072       222
4       9327       374

In [154]:
ParticipantesEventos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   idUsuario  17000 non-null  int64
 1   idEvento   17000 non-null  int64
dtypes: int64(2)
memory usage: 265.8 KB

In [320]:
ParticipantesEventos = ParticipantesEventos.drop_duplicates()

In [321]:
ParticipantesEventos

       idUsuario  idEvento
0           2856        98
1           5990        35
2           2517       111
3           9072       222
4           9327       374
...          ...       ...
16995       6205       302
16996       7297       341
16997       5586       290
16998       5533        99
16999       1703       278

[16980 rows x 2 columns]

In [322]:
print(ParticipantesEventos.groupby('idEvento').nunique())

          idUsuario
idEvento
0                32
1                30
2                29
3                32
4                36
...             ...
595              23
596              39
597              20
598              24
599              23

[600 rows x 1 columns]

In [323]:
ParticipantesEventos.to_csv('../data/ParticipantesEventos.csv', sep = ',', index = False)

### EVENTOS

In [268]:
universidades = pd.read_csv('../data/Universidades.csv')

In [269]:
universidades = universidades['nombre']
universidades.head()

0    Universidad de Sevilla
1    Universidad de Granada
2    Universidad de Córdoba
3     Universidad de Málaga
4      Universidad de Cádiz
Name: nombre, dtype: object

In [270]:
universidades = universidades.values.astype(str).tolist()

In [271]:
type(universidades)

list

In [324]:
listUsuarios1 = ['Fiesta sorpresa de ','Fiesta en casa de ','Poniencia de ', 'Cumpleaños de ', 'Jubilación de ', 'Despedida de ']
listUsuarios2 = ['Talk and pizzas en ','Expo en ','Botellón de ', 'Firma de libros en ', 'Primer día clases ']
listUsuarios3 = ['Exposición de la facultad ','Certamen de la facultad ', 'Graduación de ']
listUsuarios4 = ['Quedada de ', 'Reunión director ', 'Sentada ', 'TedTalk ', 'Bienvenida nuevos alumnos ']

contador = 0;

idEvento = []
nombreEvento  = []
dateEvento = []
idCreador  =  []

for i in range(200):  
    idEvento.append(contador)
    nombreEvento.append(random.choice(listUsuarios1) + fake.name())
    dateEvento.append(fake.date_between(start_date='-1y',end_date='+1y').strftime('%Y-%m-%d'))
    idCreador.append(random.randint(0, 11999))
    contador += 1
    
for i in range(150):
    idEvento.append(contador)
    nombreEvento.append(random.choice(listUsuarios2) + str(random.choice(universidades)))
    dateEvento.append(fake.date_between(start_date='-1y',end_date='+1y').strftime('%Y-%m-%d'))
    idCreador.append(random.randint(0, 11999))
    contador += 1
    
for i in range(100):
    idEvento.append(contador)
    nombreEvento.append(random.choice(listUsuarios3) + random.choice(listFacultad))
    dateEvento.append(fake.date_between(start_date='-1y',end_date='+1y').strftime('%Y-%m-%d'))
    idCreador.append(random.randint(0, 11999))
    contador += 1
    
for i in range(150):
    idEvento.append(contador)
    nombreEvento.append(random.choice(listUsuarios4) + random.choice(listFacultad) + ' ' + str(random.choice(universidades)))
    dateEvento.append(fake.date_between(start_date='-1y',end_date='+1y').strftime('%Y-%m-%d'))
    idCreador.append(random.randint(0, 11999))
    contador += 1

In [325]:
Eventos = pd.DataFrame()

In [326]:
Eventos['idEvento'] = idEvento
Eventos['nombre'] = nombreEvento
Eventos['descripcion'] = None
Eventos['fechaEvento'] = dateEvento
Eventos['fechaCreacion'] = None
Eventos['idCreador'] = idCreador

In [327]:
Eventos.tail()

,idEvento,nombre,descripcion,fechaEvento,fechaCreacion,idCreador
595,595,Bienvenida nuevos alumnos Ciencias de la Salud...,None,2022-06-26,None,647
596,596,Reunión director Información Universidad Rey J...,None,2021-11-25,None,7759
597,597,Sentada Ingeniería Universidad de Murcia,None,2023-06-03,None,1326
598,598,Reunión director Derecho Universidad Jaime I,None,2021-10-05,None,8658
599,599,Bienvenida nuevos alumnos Medicina Universidad...,None,2021-08-04,None,1358

In [328]:
Eventos.to_csv('../data/Eventos.csv', sep = ',', index = False)

### PROPUESTAS

In [277]:
listUsuarios1 = ['Echar a ', 'Denunciar a ', 'Hablar con ', 'Quitar el busto de ']
listUsuarios2 = ['Hacer un huerto en ', 'Crear un programa de eficiencia energética en los edificios de la ',
                'Crear un método de comunicación efectivo entre los órganos directivos y de gestión de los estudiantes y la ',
                'Mejorar el pavimento de las pistas e instalaciones deportivas de la ', 
                'Mejorar el sistema de consulta de fondos de la biblioteca de la ', 
                'Quitar las nuevas vallas de los jardines entre facultades ',
                'Quitar el límite horario en bibliotecas y hacerlas espacios de estudio 24h ',
                'Promover cursos de lenguas extranjeras ',
                'Promover curso de capacitación profesionales ',
                'Promover programas de integración para futuros estudiantes con riesgo de fracaso escolar en institutos ',
                'Promover el deporte en la vida universitaria ']
listUsuarios3 = ['Crear recursos de comunicación para facilitar la convivencia en el campus de ',
                'Mejorar acceso a las instalaciones para gente con discapacidad en la facultad de ',
                'Mejorar Instalaciones deportivas facultad de ', 'Quitar las tarifas de pago en el parking de estudiantes ',
                'Quitar las restricciones al acceso a instalaciones deportivas ']
listUsuarios4 = ['Crear programa de formación europeo', 
                'Crear sistemas de riego de jardines acordes a los requerimientos de sostenibilidad de la UE',
                'Crear programas de información de becas y programas postdoctorales para nuevos estudiantes',
                'Mejorar acceso a pago de créditos ECTS', 'Mejorar el sistema de becas y métodos de pago',
                'Quitar las capillas y lugares de culto en las instalaciones de educación pública universitaria',
                'Promover dinámicas de cooperación entre universidades',
                'Promover la cultura musical y la colaboración con centros superiores de enseñanza de música']

contador = 0;

idPropuesta = []
nombrePropuesta  = []
idCreador  =  []

for i in range(350):  
    idPropuesta.append(contador)
    nombrePropuesta.append(random.choice(listUsuarios1) + fake.name())
    idCreador.append(random.randint(0, 11999))
    contador += 1
    
for i in range(400):
    idPropuesta.append(contador)
    nombrePropuesta.append(random.choice(listUsuarios2) + str(random.choice(universidades)))
    idCreador.append(random.randint(0, 11999))
    contador += 1
    
for i in range(300):
    idPropuesta.append(contador)
    nombrePropuesta.append(random.choice(listUsuarios3) + random.choice(listFacultad) + ' ' + str(random.choice(universidades)))
    idCreador.append(random.randint(0, 11999))
    contador += 1

for i in range(150):
    idPropuesta.append(contador)
    nombrePropuesta.append(random.choice(listUsuarios4))
    idCreador.append(random.randint(0, 11999))
    contador += 1

In [278]:
Propuestas = pd.DataFrame()

In [279]:
Propuestas['idPropuesta'] = idPropuesta
Propuestas['nombre'] = nombrePropuesta
Propuestas['descripcion'] = None
Propuestas['fechaCreacion'] = None
Propuestas['idCreador'] = idCreador

In [280]:
Propuestas.tail()

,idPropuesta,nombre,descripcion,fechaCreacion,idCreador
1195,1195,Crear programas de información de becas y prog...,None,None,6841
1196,1196,Crear programas de información de becas y prog...,None,None,6107
1197,1197,Promover dinámicas de cooperación entre univer...,None,None,833
1198,1198,Mejorar el sistema de becas y métodos de pago,None,None,9368
1199,1199,Quitar las capillas y lugares de culto en las ...,None,None,2518

In [281]:
Propuestas.to_csv('../data/Propuestas.csv', sep = ',', index = False)

### CATEGORÍAS

In [229]:
nombreCateg = ['Lifestyle', 'Campus', 'Fiesta', 'Aprendizaje', 'Quejas', 
               'Charlando', 'Actividades', 'Dirección', 'Clases', 'Ayuda', 
               'Quedadas', 'Facultad', 'Cotilleos', 'Traslados', 'Documentos',
               'Secretaría', 'Erasmus', 'Asignatura', 'Profesorado', 'Limpieza']

In [230]:
Categorias = pd.DataFrame()

In [231]:
Categorias['nombre'] = nombreCateg

In [232]:
Categorias['idCategoria'] = Categorias.index

In [233]:
Categorias = Categorias[['idCategoria', 'nombre']]

In [234]:
Categorias.head(20)

    idCategoria       nombre
0             0    Lifestyle
1             1       Campus
2             2       Fiesta
3             3  Aprendizaje
4             4       Quejas
5             5    Charlando
6             6  Actividades
7             7    Dirección
8             8       Clases
9             9        Ayuda
10           10     Quedadas
11           11     Facultad
12           12    Cotilleos
13           13    Traslados
14           14   Documentos
15           15   Secretaría
16           16      Erasmus
17           17   Asignatura
18           18  Profesorado
19           19     Limpieza

In [235]:
Categorias.to_csv('../data/Categorias.csv', sep = ',', index = False)