# EXTRACCIÃ“N DE DATOS

### COMENTARIOS PROPUESTAS

In [27]:
# %pip install requests
# %pip install urllib3
# %pip install bs4

import requests

from urllib import request, response, error, parse
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np

from faker import Faker

import random
from random_username.generate import generate_username

random.seed(42)
Faker.seed(42)

fake = Faker('es_ES')

In [20]:
lst = []
dateComentarios = []
textoComentarios  = []

In [21]:
page = 1000
titles = []

for i in range(100):
    URL = f"https://www.cotilleando.com/threads/marta-lopez-alamo.128067/page-{page}"
    hdr = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36'}
    req = Request(URL,headers=hdr)
    html = request.urlopen(req)
    soup = BeautifulSoup(html, "html.parser")
    page += 1
    
    for divs in soup.find_all("div",{"class" : ["message-inner"]}):
        dateComentarios.append(divs.find("time",{"class": "u-dt"}).getText())
        textoComentarios.append(divs.find("div",{"class": "bbWrapper"}).getText())

In [ ]:
ComentariosPropuestas = pd.DataFrame()

In [34]:
propuesta = []
usuario = []
likes = []

for i in range(len(textoComentarios)):
    usuario.append(random.randint(0, 11999))
    propuesta.append(random.randint(0, 1199))
    likes.append(random.randint(0, 27))

In [36]:
ComentariosPropuestas['idPropuesta'] = propuesta
ComentariosPropuestas['idUsuario'] = usuario
ComentariosPropuestas['comentario'] = textoComentarios
ComentariosPropuestas['fecha'] = dateComentarios
ComentariosPropuestas['numLikes'] = likes

In [37]:
ComentariosPropuestas['idComentarioPropuesta'] = ComentariosPropuestas.index

In [39]:
ComentariosPropuestas = ComentariosPropuestas[['idComentarioPropuesta', 'idPropuesta', 'idUsuario', 'comentario', 'fecha', 'numLikes']]

In [90]:
ComentariosPropuestas.tail()

,idComentarioPropuesta,idPropuesta,idUsuario,comentario,fecha,numLikes
9607,9607,453,5792,\nMamakila dijo:\nYo tengo entendido que tuvie...,1-Ago-2019,10
9608,9608,927,7894,Os apostais algo a que lo de gabi es tambien g...,1-Ago-2019,15
9609,9609,1015,11705,\nMamakila dijo:\nYo tengo entendido que tuvie...,1-Ago-2019,16
9610,9610,1152,5934,Os apostais algo a que lo de gabi es tambien g...,1-Ago-2019,4
9611,9611,566,11272,Vaya tela!!! @Alitadebar sigue contando!!! Y g...,2-Ago-2019,10

In [89]:
for e in ComentariosPropuestas['fecha']:
    ComentariosPropuestas.fecha = ComentariosPropuestas.fecha.str.replace(' ', '-')

In [99]:
for e in ComentariosPropuestas['fecha']:
    ComentariosPropuestas.fecha = ComentariosPropuestas.fecha.str.replace('Feb', '02')
    ComentariosPropuestas.fecha = ComentariosPropuestas.fecha.str.replace('Mar', '03')
    ComentariosPropuestas.fecha = ComentariosPropuestas.fecha.str.replace('Abr', '04')
    ComentariosPropuestas.fecha = ComentariosPropuestas.fecha.str.replace('May', '05')
    ComentariosPropuestas.fecha = ComentariosPropuestas.fecha.str.replace('Ene', '01')
    ComentariosPropuestas.fecha = ComentariosPropuestas.fecha.str.replace('Jul', '07')
    ComentariosPropuestas.fecha = ComentariosPropuestas.fecha.str.replace('Ago', '08')

In [107]:
ComentariosPropuestas.head()

,idComentarioPropuesta,idPropuesta,idUsuario,comentario,fecha,numLikes
0,0,1056,3248,\nVive la vida dijo:\nPero porque mete barriga...,2022-02-17,15
1,1,430,3168,Yo tengo sentimientos encontrados con lo de ay...,2022-02-17,14
2,2,388,660,He ido a ver los vÃ­deos y sinceramente creo qu...,2022-02-17,9
3,3,376,11989,"Las redes te hacen polvo la cabeza, que busque...",2022-02-17,25
4,4,635,4815,Tal vez deberÃ­a pensar porque las hay que reci...,2022-02-17,8

In [103]:
ComentariosPropuestas['fecha'] = pd.to_datetime(ComentariosPropuestas['fecha'], dayfirst = True)

In [105]:
ComentariosPropuestas['fecha'] = pd.to_datetime(ComentariosPropuestas['fecha'], yearfirst = True)

In [106]:
ComentariosPropuestas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9612 entries, 0 to 9611
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   idComentarioPropuesta  9612 non-null   int64
 1   idPropuesta            9612 non-null   int64
 2   idUsuario              9612 non-null   int64
 3   comentario             9612 non-null   object
 4   fecha                  9612 non-null   datetime64[ns]
 5   numLikes               9612 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 450.7+ KB

In [108]:
ComentariosPropuestas.to_csv('../data/ComentariosPropuestas.csv', sep = ',', index = False)

### COMENTARIOS EVENTOS

In [42]:
lst = []
dateComentarios = []
textoComentarios  = []

In [58]:
page = 10041
titles = []

for i in range(20):
    URL = f"https://www.cotilleando.com/threads/la-pombo-company.145437/page-{page}"
    hdr = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36'}
    req = Request(URL,headers=hdr)
    html = request.urlopen(req)
    soup = BeautifulSoup(html, "html.parser")
    page += 1
    
    for divs in soup.find_all("div",{"class" : ["message-inner"]}):
        dateComentarios.append(divs.find("time",{"class": "u-dt"}).getText())
        textoComentarios.append(divs.find("div",{"class": "bbWrapper"}).getText())

In [60]:
ComentariosEventos = pd.DataFrame()

In [61]:
evento = []
usuario = []
likes = []

for i in range(len(textoComentarios)):
    usuario.append(random.randint(0, 11999))
    evento.append(random.randint(0, 1199))
    likes.append(random.randint(0, 27))

In [62]:
ComentariosEventos['idEvento'] = evento
ComentariosEventos['idUsuario'] = usuario
ComentariosEventos['comentario'] = textoComentarios
ComentariosEventos['fecha'] = dateComentarios
ComentariosEventos['numLikes'] = likes

In [63]:
ComentariosEventos['idComentarioEvento'] = ComentariosEventos.index

In [64]:
ComentariosEventos = ComentariosEventos[['idComentarioEvento', 'idEvento', 'idUsuario', 'comentario', 'fecha', 'numLikes']]

In [65]:
ComentariosEventos.tail()

,idComentarioEvento,idEvento,idUsuario,comentario,fecha,numLikes
2923,2923,664,2720,\nPombolisti dijo:\nY voy a decir que Maria To...,24 Ene 2022,27
2924,2924,456,11207,"\nQueen29 dijo:\nPrimas, en quÃ© bolso invertir...",24 Ene 2022,1
2925,2925,817,4512,\nKaanphie dijo:\nRecomendaciÃ³n de endurecedor...,24 Ene 2022,15
2926,2926,34,5060,\nWWaldorf dijo:\nYo AMO el Noe de Vuitton! Ta...,24 Ene 2022,24
2927,2927,192,7424,"\nO el Hammock, o el puzzle que ademÃ¡s estÃ¡ re...",24 Ene 2022,17

In [75]:
for e in ComentariosEventos['fecha']:
    ComentariosEventos.fecha = ComentariosEventos.fecha.str.replace(' ', '-')

In [80]:
for e in ComentariosEventos['fecha']:
    ComentariosEventos.fecha = ComentariosEventos.fecha.str.replace('Ene', '01')
    ComentariosEventos.fecha = ComentariosEventos.fecha.str.replace('Jul', '07')
    ComentariosEventos.fecha = ComentariosEventos.fecha.str.replace('Ago', '08')

In [83]:
ComentariosEventos['fecha'] = pd.to_datetime(ComentariosEventos['fecha'], dayfirst = True)

In [85]:
ComentariosEventos['fecha'] = pd.to_datetime(ComentariosEventos['fecha'], yearfirst = True)

In [86]:
ComentariosEventos.head()

,idComentarioEvento,idEvento,idUsuario,comentario,fecha,numLikes
0,0,1187,543,Expande este mensaje de referencia para saber ...,2018-01-04,12
1,1,797,7579,"\nlita_bcn dijo:\nJo primas, pues ya lo siento...",2019-07-12,4
2,2,292,5100,Maria ya es feliz en la playa.ya no tiene esa ...,2019-07-12,17
3,3,1012,5910,\nRosa.13 dijo:\nEn la privada piden un 8? eso...,2019-07-12,8
4,4,633,540,"\nlita_bcn dijo:\nJo primas, pues ya lo siento...",2019-07-12,0

In [84]:
ComentariosEventos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2928 entries, 0 to 2927
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   idComentarioEvento  2928 non-null   int64
 1   idEvento            2928 non-null   int64
 2   idUsuario           2928 non-null   int64
 3   comentario          2928 non-null   object
 4   fecha               2928 non-null   datetime64[ns]
 5   numLikes            2928 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 137.4+ KB

In [87]:
ComentariosEventos.to_csv('../data/ComentariosEventos.csv', sep = ',', index = False)