# INSERTAR TABLAS COMENTARIOS

In [1]:
import pandas as pd

import mysql.connector as conn

# %pip install mysql-connector-python

In [130]:
ComentariosEventos = pd.read_csv('../data/ComentariosEventos.csv')
ComentariosPropuestas = pd.read_csv('../data/ComentariosPropuestas.csv')

In [48]:
ComentariosEventos.head()

,idComentarioEvento,idEvento,idUsuario,comentario,fecha,numLikes
0,0,1187,543,Expande este mensaje de referencia para saber ...,2018-01-04,12
1,1,797,7579,"\nlita_bcn dijo:\nJo primas, pues ya lo siento...",2019-07-12,4
2,2,292,5100,Maria ya es feliz en la playa.ya no tiene esa ...,2019-07-12,17
3,3,1012,5910,\nRosa.13 dijo:\nEn la privada piden un 8? eso...,2019-07-12,8
4,4,633,540,"\nlita_bcn dijo:\nJo primas, pues ya lo siento...",2019-07-12,0

In [131]:
ComentariosPropuestas.head()

,idComentarioPropuesta,idPropuesta,idUsuario,comentario,fecha,numLikes
0,0,1056,3248,\nVive la vida dijo:\nPero porque mete barriga...,2022-02-17,15
1,1,430,3168,Yo tengo sentimientos encontrados con lo de ay...,2022-02-17,14
2,2,388,660,He ido a ver los vídeos y sinceramente creo qu...,2022-02-17,9
3,3,376,11989,"Las redes te hacen polvo la cabeza, que busque...",2022-02-17,25
4,4,635,4815,Tal vez debería pensar porque las hay que reci...,2022-02-17,8

In [70]:
db = conn.connect(host = 'localhost', user = 'root', passwd='', database = 'fackulty')

cursor = db.cursor()

In [71]:
cursor.execute('show tables;') # comprobando conexión

for x in cursor:
    print(x)

('categorias',)
('categoriaseventos',)
('categoriaspropuestas',)
('comentarioseventos',)
('comentariospropuestas',)
('eventos',)
('participanteseventos',)
('participantespropuestas',)
('propuestas',)
('universidades',)
('usuarios',)

### COMENTARIOS EVENTOS

In [125]:
ComentariosEventos[['comentario']] = ComentariosEventos[['comentario']].fillna('Nada de nada')

In [126]:
ComentariosEventos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2928 entries, 0 to 2927
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   idComentarioEvento  2928 non-null   int64
 1   idEvento            2928 non-null   int64
 2   idUsuario           2928 non-null   int64
 3   comentario          2928 non-null   object
 4   fecha               2928 non-null   object
 5   numLikes            2928 non-null   int64
dtypes: int64(4), object(2)
memory usage: 137.4+ KB

In [129]:
contador = 0
for i in range(len(ComentariosEventos)):
    valores1 = ComentariosEventos.idEvento.iloc[contador]
    valores2 = ComentariosEventos.idUsuario.iloc[contador]
    valores3 = ComentariosEventos.comentario.iloc[contador]
    valores4 = ComentariosEventos.fecha.iloc[contador]
    valores5 = ComentariosEventos.numLikes.iloc[contador]

    insert_query = f'SET foreign_key_checks = 0;'
    cursor.execute(insert_query)
    
    insert_query=f'insert into comentarioseventos (idEvento,idUsuario,comentario,fecha,numLikes) values {valores1, valores2, valores3, valores4, valores5};'
    cursor.execute(insert_query)

    contador += 1

    
db.commit()

### COMENTARIOS PROPUESTAS

In [135]:
ComentariosPropuestas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9612 entries, 0 to 9611
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   idComentarioPropuesta  9612 non-null   int64
 1   idPropuesta            9612 non-null   int64
 2   idUsuario              9612 non-null   int64
 3   comentario             9612 non-null   object
 4   fecha                  9612 non-null   object
 5   numLikes               9612 non-null   int64
dtypes: int64(4), object(2)
memory usage: 450.7+ KB

In [134]:
ComentariosPropuestas[['comentario']] = ComentariosPropuestas[['comentario']].fillna('Nada de nada')

In [136]:
nombre_tabla = 'comentariospropuestas'

columnas = ','.join(ComentariosPropuestas.columns)

columnas

'idComentarioPropuesta,idPropuesta,idUsuario,comentario,fecha,numLikes'

In [138]:
valores1 = ComentariosPropuestas.idPropuesta.iloc[i]
valores2 = ComentariosPropuestas.idUsuario.iloc[i]
valores3 = ComentariosPropuestas.comentario.iloc[i]
valores4 = ComentariosPropuestas.fecha.iloc[i]
valores5 = ComentariosPropuestas.numLikes.iloc[i]

In [140]:
contador = 0
for i in range(len(ComentariosPropuestas)):
    valores1 = ComentariosPropuestas.idPropuesta.iloc[contador]
    valores2 = ComentariosPropuestas.idUsuario.iloc[contador]
    valores3 = ComentariosPropuestas.comentario.iloc[contador]
    valores4 = ComentariosPropuestas.fecha.iloc[contador]
    valores5 = ComentariosPropuestas.numLikes.iloc[contador]

    insert_query = f'SET foreign_key_checks = 0;'
    cursor.execute(insert_query)
    
    insert_query=f'insert into comentariospropuestas (idPropuesta,idUsuario,comentario,fecha,numLikes) values {valores1, valores2, valores3, valores4, valores5};'
    cursor.execute(insert_query)

    contador += 1

    
db.commit()

In [141]:
db.close()